#modal-container {
  /* background-color: green; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 1rem;

  #card {
    position: relative;
    background-color: pink;
    background-image: url("https://picsum.photos/800/600");
    background-size: 120% 120%;
    background-repeat: no-repeat;
  
    min-height: 300px;
    min-width: 400px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 1rem black;
    cursor: pointer;
  
    transition: 0.3s all;
  
    &:hover {
      background-size: 100% 100%;
      box-shadow: 0.2rem 0.2rem 2rem black;
      transition: 0.3s all;
  
      #card-title {
        top: 0;
      }
    }
  
    #card-title {
      position: absolute;
      top: -2.5rem;
      left: 0rem;
      right: 0;
      height: 2.5rem;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 0.5rem;
      text-align: center;
      transition: 0.3s all;
    }
  
    #card-date {
      position: absolute;
      left: 0;
      right: 0;
      height: 2.5rem;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 0.5rem;
      text-align: center;
    }
  }
}