#modal-container {
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;

  #card {
    background-color: pink;
    padding: 1rem;
    border-radius: 1rem;
  }

  #car-title {
    background-color: aquamarine;
    padding: 1rem;
  }

  #card-date {
    background-color: lightblue;
    padding: 1rem;
  }
}